Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 6
TabWidth: 6
UseTab: Never
AccessModifierOffset: -6
ConstructorInitializerIndentWidth: 6
ContinuationIndentWidth: 6
IndentCaseLabels: true
BreakBeforeBraces: Attach
PointerAlignment: Right
ReferenceAlignment: Pointer
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: false
FixNamespaceComments: false
NamespaceIndentation: All
